$mainColor: #92C7CF;
$seconColor: #AAD7D9;
$complementaryColor1: #FBF9F1;
$complementaryColor2: #E5E1DA;
$footer: #E5E1DA;

$media: 600px;
@import "./NoMatch/index";
@import "./components/header";
@import "./components/footer";
@import "./views/index";

body {
  margin: 0;
  p {
    margin: 0;
  }
}
